{{> nav}}

<main class="m-4 relative h-max">
	<section class="">
		<h2>
			Bienvenido, {{user.name}}
		</h2>

		<a href="/logout" class="px-3 m-0 py-2 no-underline text-red-600 bottom-0">
			<strong>
				Log out
			</strong>
		</a>
	</section>

</main>