<br>
<h1>Iniciar sesión</h1>
<form action="/signin" method="post">
  <input type="email" name="email" id="username" placeholder="e-mail" />
  <input type="password" name="password" placeholder="Contraseña" />
  <button type="submit">Ingresar</button>
</form>
<h2>No tenés cuenta? <a href="/signup">Registrate acá.</a></h2>